
body {
    height: 100%;
}

form[name="inputForm"] {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
}

form[name="inputForm"] input {
    width: 300px;
}

form[name="inputForm"] input[type="submit"] {
    width: 20%;
    text-align: center;
}

div[name="outputWrapper"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightpink;
    width: 400px;
}

.output {
    background: lightgray;
    width: 300px;
    height: 100px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}